.heading-with-image {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading-with-image__content {
  padding: 0 1.5rem;
}

.heading-with-image__content--left {
  text-align: left;
}

.heading-with-image__content--center {
  text-align: center;
}

.heading-with-image__content--right {
  text-align: right;
}

.heading-with-image__heading {
  margin: 0 0 1rem;
}

.heading-with-image__subheading {
  margin: 0;
}

.heading-with-image__media {
  position: relative;
  overflow: hidden;
}

.heading-with-image__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.heading-with-image__media--adapt {
  height: auto;
}

.heading-with-image__media--adapt img {
  height: auto;
  object-fit: initial;
}

.heading-with-image__media--small {
  height: 20rem;
}

.heading-with-image__media--medium {
  height: 30rem;
}

.heading-with-image__media--large {
  height: 45rem;
}

@media screen and (min-width: 750px) {
  .heading-with-image__content {
    padding: 0 2rem;
  }

  .heading-with-image__media--small {
    height: 30rem;
  }

  .heading-with-image__media--medium {
    height: 45rem;
  }

  .heading-with-image__media--large {
    height: 60rem;
  }
}

@media screen and (min-width: 990px) {
  .heading-with-image__media--small {
    height: 40rem;
  }

  .heading-with-image__media--medium {
    height: 60rem;
  }

  .heading-with-image__media--large {
    height: 75rem;
  }
}

.heading-with-image--full-width {
  max-width: 100%;
  padding: 0;
}

.heading-with-image--full-width .heading-with-image__media {
  max-width: 100%;
}

/* Animation effects */
.heading-with-image__media.animate--ambient:hover img {
  animation: ambient 6s ease-in-out infinite;
}

.heading-with-image__media.animate--zoom-in:hover img {
  transform: scale(1.1);
  transition: transform 3s ease;
}
