.category-filter-section {
  margin-top: 5rem;
}

@media screen and (min-width: 750px) {
  .category-filter-section .title {
    margin-top: 0;
  }
}

.category-filter-section .title-wrapper-with-link {
  margin-top: calc(5rem - var(--text-boxes-border-width));
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .category-filter-section .title-wrapper-with-link {
    margin-bottom: 4rem;
  }
}

.category-filter__title {
  margin-bottom: 2.5rem;
}

.category-filter-grid {
  --grid-mobile-vertical-spacing: 1.5rem;
  --grid-desktop-vertical-spacing: 3rem;
  --grid-mobile-horizontal-spacing: 1rem;
  --grid-desktop-horizontal-spacing: 2rem;

  margin-bottom: 0;
  padding-left: 0;
}

.category-filter__item {
  list-style: none;
}

@media screen and (max-width: 749px) {
  .category-filter-grid.grid--1-col-tablet-down {
    grid-template-columns: 1fr;
  }

  .category-filter-grid.grid--2-col-tablet-down {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-filter-grid {
    gap: var(--grid-mobile-vertical-spacing) var(--grid-mobile-horizontal-spacing);
  }
}

@media screen and (min-width: 750px) {
  .category-filter-grid {
    gap: var(--grid-desktop-vertical-spacing) var(--grid-desktop-horizontal-spacing);
  }
}

.category-filter-section .slider-mobile-gutter {
  margin: 0;
  padding: 0;
}
